.main-container {
  display: flex;
}
#map {
  flex: 0 0 600px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  box-shadow: 0px 0px 5px rgba(50,50,50,0.1);
}

@media (max-width: 768px) {
 #map {
   flex: 0 0 400px;
 }
}

.card-container {
  flex-grow: 1;
  padding: 30px;
}
