.main-container {
  display: flex;
}
#map {
  flex: 0 0 400px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}

.card-container {
  flex-grow: 1;
  padding: 30px;
}
