<div class="container">
  <h1>L'espace de <%= @space.user.first_name.capitalize %></h1>
  <p><%= "This space is located in #{@space.city.capitalize}" %></p>



  <%= link_to 'Back to index', spaces_path %>
</div>




