
<div class="container shadowed-radius-box to-bottom-30">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center to-bottom-30">
      <%= image_tag 'photouser.png', class: "img-circle" %>
      <h1><%= @user.first_name %></h1>
      <p class="to-top-30"><strong>Addresse</strong> : 303 rue du Faubourg Saint-Antoine</p>
    </div>
  </div>
</div>

<div class="container shadowed-radius-box to-bottom-30">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center to-bottom-30">
      <ul class="list-inline to-top-30">
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Linkedin</li>
      </ul>
    </div>
  </div>
</div>

