<div class="container">
  <h1>Bienvenue <%= @user.email %></h1>
  <h3> Voici toutes vos réservations </h3>
  <ul>
    <% @user.reservations.each do |reservation| %>
      <li>
        Réservation à <strong><%= link_to reservation.space.title, reservation_path(reservation) %></strong> |
        Réservation : 000<%= reservation.id %>
      </li>
    <% end %>
  </ul>

</div>



