<div class="container">
  <h1>A quelles dates voudriez-vous louer cet espace ? </h1>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <%= simple_form_for [@space, @reservation] do |f| %>
          <%= f.input :start_date, label: "Dates", as: :string, input_html: {class: "datepicker", id: "range_start"} %>
          <%= f.input :end_date, as: :string, as: :hidden, input_html: { id: "range_end" } %>
          <%= f.submit "Loue cet espace" , :class => "btn btn-warning btn-lg" %>
        <% end %>
      </div>
  </div>
