.home-wrapper {
  background-image: asset-url('couloir.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.home-container {

}
