.show-container {
  width: 100%;
  height: auto;
  background: light-grey;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-flow: wrap;
}

.box-show {
  width: 30%;
  height: 500px;
  background: white;
  margin-top: 30px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px rgba(50,50,50,0.1);
  border-radius: 3px;
}

@media screen and (max-width:1200px){
  .box-show {
    width: 40%;
  }
}

@media screen and (max-width:700px){
  .box-show {
    width: 90%;
  }
}

.box-text {
  padding: 40px 40px;
  font-size: 18px;
  background-size: cover;
  h2 {
    margin: 0;
  }
}

#center-title h2 {
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.box-title {
  margin-top: 20px;
}

// .box-title2 {
//   margin-top: 40px;
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
// }

// .dates-big {
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   height: 200px;
// }

// .date-big1 {
//   height: 100px;
// }

// .date-big2 {
//   height: 100px;
// }

